@page "/"

<style>
    .button{
        border-radius:5px;
        border:0px;
        background-image:linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color:white;
    }

    .text{
        border-radius:5px;
        border-width:1px;
    }
</style>

<PageTitle>DelayCertificateCreationSoftware</PageTitle>

<h1>DelayCertificateCreationSoftware</h1>

<div class="toolbar">

    <button class="button newButton">
        New
    </button>

    <button class="button exportButton">
        Export
    </button>

</div>

<div class="main">

    <div class="property">
        
        <div class="delayedTimePanel">
            <label>
                Delayed time:
            </label>
            <input type="text" class="text delayedTimeText" />
        </div>

        <div class="publisherPanel">
            <label>
                Publisher: 
            </label>
            <input type="text" class="text publisherText" />
        </div>

        <div class="publicationTimePanel">
            <label>
                Publication time:
            </label>
            <input type="text" class="text publicationTimeText" />
        </div>
        
    </div>

    <div class="preview">

        <code class="code previewCode">
            
        </code>

    </div>

</div>