@page "/"

<style>
    .button {
        border-radius: 5px;
        border: 0px;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;
    }

    .text {
        border-radius: 5px;
        border-width: 1px;
    }
</style>

<PageTitle>DelayCertificateCreationSoftware</PageTitle>

<h1>DelayCertificateCreationSoftware</h1>

<div class="toolbar">

    <button @onclick="New" class="button newButton">
        New
    </button>

    <a href="@fileUrl" download="DelayCertificate.txt">
        <button @onclick="Export" class="button exportButton">
            Export
        </button>
    </a>
</div>

<div class="main">

    <div class="property">

        <details open>
            <summary>
                Property
            </summary>
            <div>
                <div class="delayedTimePanel">
                    <label>
                        Delayed time:
                    </label>
                    <input @bind="@delayedTime" type="text" class="text delayedTimeText" />
                </div>

                <div class="publisherPanel">
                    <label>
                        Publisher:
                    </label>
                    <input @bind="publisher" type="text" class="text publisherText" />
                </div>

                <div class="publicationTimePanel">
                    <label>
                        Publication time:
                    </label>
                    <input @bind="publicationTime" type="text" class="text publicationTimeText" />
                </div>
            </div>
        </details>

    </div>

    <div class="preview">

        <details open>
            <summary>
                Preview
            </summary>
            <div>
                <pre class="code previewCode">--Delayed Certificate--
This certificate proves that something was delayed by @delayedTime.
  @publicationTime
    @publisher</pre>
            </div>
        </details>

    </div>

    <div class="about">

        <details>
            <summary>
                About
            </summary>
            <div>
                <p>
                    Created by Cat(https://moton-03.github.io/Cat).
                </p>
            </div>
        </details>

    </div>


</div>

@code {
    string delayedTime = "";
    string publisher = "";
    string publicationTime = "";
    string fileUrl = "";
    string fileText = "";


    void New()
    {
        delayedTime = "";
        publisher = "";
        publicationTime = "";
    }

    void Export()
    {
        fileText = $@"--Delayed Certificate--
This certificate proves that something was delayed by {delayedTime}.
  {publicationTime}
    {publisher}";
        fileUrl = $@"data:,{fileText}";
    }
}